.navbar {
    background-color: #B0A3FF; /* Light purple background */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

.logo-image {
  margin-top: 0;
    height: 40px;
    padding-left: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    color:#0c0e12;
    font-weight: 400;
    margin: 0;
    padding: 0 50;
}


.nav-links li {
    margin: 0 52px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}


.main-content {
    text-align: center;
    margin-top: 100px;
}

.illustration {
    max-width: 300px;
    margin-bottom: 20px;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}


nav a {
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}
main {
    padding: 40px;
    text-align: center;
}
h1 {
    margin-bottom: 30px;
}
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.button {
    padding: 10px 20px;
    background-color: #333;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button.active {
    background-color: #b19cd9;
}
.content {
    background-color: #333;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    
    text-align: left;
}

.forumcontent {
    background-color: #333;
    padding: 20px;
    max-width: 50%;
    
    margin: 0 auto;
    margin-top: 1%;
    
    text-align: left;
}

.search-bar {
    height: 25px;
    width:410px;
    background-color: #333;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    background-color: #333;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

    
}
.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    padding: 5px;
}

.subject-list {
    list-style-type: none;
    padding: 0;
}
.subject-item {
    background-color: #333;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.subject-item:hover {
    background-color: #B0A3FF; 
}

.subject-item.active span{
    color: #000;
}

.question-count {
    font-size: 0.9em;
    color: white;
}
.avatar {
    width: 30px;
    height: 30px;
    background-color: #B0A3FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.input-group label {
    display: block;
}

.input-group input {
    width: 40rem;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

.loginbutton {
    width: 41.1rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #B0A3FF;
}

.centerkumar {
    display: flex; flex-direction: row; align-items: center; justify-content: center;
}

.dropdown .dropbtn {
    background-color: #B0A3FF;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-content ul {
    list-style-type: none;
    padding-left: 0;
}
.upload-area {
    background-color: #3c3c3c;
    border: 2px dashed #555;
    border-radius: 5px;
    padding: 40px 20px;
    margin-bottom: 20px;
}
.upload-icon {
    font-size: 48px;
    color: #555;
}