{%extends "layout.html"%}
{%block content%}


<style>
    *{
        font-family: Poppins, sans-serif;
    }
    .main-content {
    text-align: center;
    margin-top: 100px;
}


.container {
    width: 80%;
    margin: auto;
}

.card {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
}

h3 {
    color: #c084fc;
}

p {
    color: #b5b5b5;
}

.dropdown .dropbtn {
    background-color: #B0A3FF;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-content ul {
    list-style-type: none;
    padding-left: 0;
}




select, button {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 25%;
    border: none; 
}
select {
    background-color: #3c3c3c;
    color: #fff;
}


</style>
<body>
    <h1 class="centerkumar" style="margin-top: 8%;">Upload your Question Paper</h1>
    <form action="/review" method="post" enctype="multipart/form-data">

        <label style="background-color: #3c3c3c; width: 50%; height: 300px; margin-left: 25%;" class="centerkumar">
            <img src="/static/imageupload.svg" alt="" style="margin-left: 27%; max-width: 120px;">
        <input type="file" style="visibility: hidden;" class="form-control-file" name="file"/>
        
        
       </label>
        <select id="options" name="options" style="border: none;">
            <option value="Choose Semester" disabled selected="selected">Choose Semester</option>
            <option value="Fall Sem 2024">Fall Sem 2024</option>
            <option value="Winter Sem 2023">Winter Sem 2023</option>
            <option value="Fall Sem 2023">Fall Sem 2023</option>
            <option value="Winter Sem 2023">Winter Sem 2023</option>
        </select>
        <br><br>
        <input type="submit" value="Submit" class="button" style="width: 50%; margin-left: 25%; background-color: #B0A3FF; color: black;">
    </form>
</body>
{% endblock content %}