{%extends "layout.html"%}
{%block content%}
<body>
    <h1>Review Submission</h1>
    <section>
    <h5>Question 1</h5>
    <div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta explicabo quia nobis tempore, nihil, in temporibus exercitationem deserunt mollitia, consequatur voluptatum quo? Qui quasi deleniti ex voluptates debitis tempora tenetur?
    </div>
    </section>
    <section>
        <h5>Question 1</h5>
        <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta explicabo quia nobis tempore, nihil, in temporibus exercitationem deserunt mollitia, consequatur voluptatum quo? Qui quasi deleniti ex voluptates debitis tempora tenetur?
        </div>
        </section>
        <section>
            <h5>Question 1</h5>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta explicabo quia nobis tempore, nihil, in temporibus exercitationem deserunt mollitia, consequatur voluptatum quo? Qui quasi deleniti ex voluptates debitis tempora tenetur?
            </div>
            </section>
            <section>
                <h5>Question 1</h5>
                <div>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta explicabo quia nobis tempore, nihil, in temporibus exercitationem deserunt mollitia, consequatur voluptatum quo? Qui quasi deleniti ex voluptates debitis tempora tenetur?
                </div>
                </section>
                <section>
        <h5>Question 1</h5>
        <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta explicabo quia nobis tempore, nihil, in temporibus exercitationem deserunt mollitia, consequatur voluptatum quo? Qui quasi deleniti ex voluptates debitis tempora tenetur?
        </div>
         </section>
        <ul>
            Subject code
        </ul>
        <ul>Year</ul>
        <ul>    Exam Type</ul>
        <button >cancel</button>
        <button >Submit</button>
        <label for="cars">Choose a subject:</label>

<select name="Subject code" id="cars">
  <option value="physics">BPHY101L</option>
  <option value="english">BENG101L</option>
  <option value="chemistry">BCHY101L</option>
  <option value="chemistry">BCHY101L</option>
</select>

</body>
{% endblock content %}