{%extends "layout.html"%}
{%block content%}


<body>

    <div class="forumcontent" style="background-color: #302D40;">
        <div style="display: block;">
            <div style="color: #B0A3FF; display: inline; font-weight: 500; font-size: 20px;">[Fall Sem 2021]</div>
            <div style="display: inline; font-size: 20px; font-weight: 300;">Sed ut perspiciatis unde omnis iste natus
                error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto veritatis et quasi architecto</div>
            <div style="font-size: 16px; font-weight: 300; color: #929292;">5 Saves | 10 Comments
            </div>
        </div>
    </div>

    <div class="forumcontent">
        <div style="display: block;">
            <div style="color: #B0A3FF; display: block; font-weight: 500; font-size: 16px;">@catkumar</div>
            <div style="display: inline; font-size: 16px; font-weight: 300;">Sed ut perspiciatis unde omnis iste natus
                error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto veritatis et quasi architectoSed ut perspiciatis
                unde omnis iste natus
                error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto veritatis et quasi architecto</div>
            <div style="font-size: 16px; font-weight: 300; color: #929292;">10 Upvotes | Reply
            </div>
        </div>
    </div>
    <div class="forumcontent">
        <div style="display: block;">
            <div style="color: #B0A3FF; display: block; font-weight: 500; font-size: 16px;">@testkumar</div>
            <div style="display: inline; font-size: 16px; font-weight: 300;">Sed ut perspiciatis unde omnis iste natus
                error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto veritatis et quasi architectoSed ut perspiciatis
                unde omnis iste natus
                error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto veritatis et quasi architecto</div>
            <div style="font-size: 16px; font-weight: 300; color: #929292;">10 Upvotes | Reply
            </div>
        </div>
    </div>

    <div class="forumcontent">Comment Here</div>

</body>


{% endblock content %}