{%extends "layout.html"%}
{%block content%}


    <body>
        <main class="main-content" style="display: block;">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="/static/Edulink_PC_illustration 1.svg" alt="Illustration" class="illustration">
            <br>
            <br>
            <br>
            <h1>VIT’s First OCR Powered </h1>
            <h1>Mega Question Bank</h1></h1>
        </main>
        
    </body>
    

{% endblock content %}
