{%extends "layout.html"%}
{%block content%}


    <body>
        <main class="main-content" style="display: block;">
            <br>
            <br>
            <img src="/static/Edulink_PC_illustration 1.svg" alt="Illustration" class="illustration" >
            <br>
            <h1 style="font-size: 64px; font-weight: 400;">Vellore's First OCR Powered </h1>
            <h1 style="font-size: 64px; font-weight: 400;">Q/A Forum Community</h1></h1>
        </main>
        
    </body>
    

{% endblock content %}
