{%extends "layout.html"%}
{%block content%}
<body>
    <div class="login-container">
        <h2>Admin Login</h2>
        <form action="/submit-login" method="post">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Log in</button>
        </form>
    </div>
</body>
{% endblock content %}