{%extends "layout.html"%}
{%block content%}
<body>        <h2 class="centerkumar" style="margin-top: 10%; font-size: 48px;">Admin Login</h2>
    <div class="login-container centerkumar" >

        <form action="/submit-login" method="post">
            <div class="input-group centrekumar">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button class="loginbutton" type="submit">Log in</button>
        </form>
    </div>
</body>
{% endblock content %}