{%extends "layout.html"%}
{%block content%}

<body>
        </head>
        <body>
            <main>

                <ul class="subject-list">                
                
                    <input type="text" placeholder="Search" class=" search-bar">
                    
                    <a href="/techeng" style="text-decoration: none;"><li class="subject-item">
                        <span style="color: white; ">Technical English (BENG101L)</span>
                        <span class="question-count">17 questions available</span>
                        <!-- <div class="avatar">R</div> -->
                    </li></a>
                    <li class="subject-item">
                        <span>Engineering Physics (BPHY101L)</span>
                        <span class="question-count">5 questions available</span>
                    </li>
                    <li class="subject-item">
                        <span>Engineering Chemistry (BCHY101L)</span>
                        <span class="question-count">5 questions available</span>
                    </li>

                </ul>
            </main>
        </body>
        {% endblock content %}