{%extends "layout.html"%}
{%block content%}

<body>
        </head>
        <body>
            <main>

                <ul class="subject-list">                
                
                    <input type="text" placeholder="Search" class="subject-item search-bar">
                    
                    <li class="subject-item active">
                        <span>Engineering Chemistry (BCHY101L)</span>
                        <span class="question-count">17 questions available</span>
                        <!-- <div class="avatar">R</div> -->
                    </li>
                    <li class="subject-item">
                        <span>Engineering Physics (BCHY101L)</span>
                        <span class="question-count">5 questions available</span>
                    </li>
                    <li class="subject-item">
                        <span>Technical Engilish (BENG101L)</span>
                        <span class="question-count">5 questions available</span>
                    </li>

                </ul>
            </main>
        </body>
        {% endblock content %}